@model BridgeProtocol.Integrations.NetworkPartner.Site.Models.LoginWithBridgePassportViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login with Bridge Passport Example</title>
</head>
<body style="background-color: white; font-family:Arial; color:black;">
    <div style="width:100%; text-align:center; margin-top:100px;">
        <form id="bridge_passport_login_form" method="post" onsubmit="return validateForm()">
            <!-- Required Block -->
            <link rel="stylesheet" property="stylesheet" href="~/styles/bridge-login.css">
            <div id="bridge_passport_login">
                @Html.HiddenFor(m => m.SigningToken)
                <input id="bridge_protocol_passport_login_request" name="BridgePassport_LoginRequest" type="hidden" value="@Model.BridgePassport_LoginRequest" />
                <input id="bridge_protocol_passport_login_response" name="BridgePassport_LoginResponse" type="hidden" value="" />
                <input id="bridge_protocol_passport_login_passport_id" name="BridgePassport_PassportId" type="hidden" value="" />
            </div>
            <!-- End Required Block -->
        </form>
        <img src="~/images/bridge_logo_black.png" style="width:150px;" /><br />
        <div>Login with Bridge Passport</div>
    </div>
</body>
</html>

