@model BridgeProtocol.Integrations.NetworkPartner.Site.Models.LoginWithBridgePassportViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login with Bridge Passport Example</title>
    <script>
    function login () {
        var event = new CustomEvent("bridge-protocol-login-request", {
            detail: {
                loginRequest: '@Model.BridgePassport_LoginRequest'
            }});
            document.dispatchEvent(event);
        }

        document.addEventListener('bridge-protocol-login-response', function(data) {
            document.getElementById("bridge_passport_login_response").value = data.detail.loginResponse;
            document.forms[0].submit();
        });
    </script>
</head>
<body style="background-color: white; font-family:Arial; color:black;">
    <div style="width:100%; text-align:center; margin-top:100px;">
        <form id="bridge_passport_login_form" method="post" onsubmit="return validateForm()">
            <!-- Required Block -->
            <div id="bridge_passport_login">
                @Html.HiddenFor(m => m.SigningToken)
                <input id="bridge_passport_login_response" name="BridgePassport_LoginResponse" type="hidden" value="" />
            </div>
            <!-- End Required Block -->
        </form>
        <img src="~/images/bridge_logo_black.png" style="width:150px;" /><br />
        <button id="do_login" onclick="login();">Login with Bridge Passport</button>
    </div>
</body>
</html>


